* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html, body {
    height: 100%;
    background: #ebeaeb;
}

:root {
    font-size: 62.5%;
}

#container-header {
    width: clamp(75%, 80%, 90%);

    margin: 0 auto;

    background: #ebeaeb;
}

div.border-bottom-header {
    width: 100%;
    border-bottom: 1px solid lightgray;
}

header {
    width: 100%;
    height: 8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
}

.logo {
    width: 12rem;

    display: flex;
    align-items: center;
}

.logo strong {
    font-size: 1.6rem;
    padding-left: .5rem;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li, header nav ul li a {
    font-size: 1.6rem;
    padding-left: 2rem;
    list-style-type: none;
    color: black;
    font-weight: 500;
    text-decoration: none;

    transition: .1s;
}

header nav ul li a:hover {
    color: #1264a3;
    font-size: 1.7rem;
}

header div.buttons button.entry {
    background: none;
    padding: 1rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 700;
    border: none;
    cursor: pointer;

    transition: .4s;
}

header div.buttons button.entry:hover {
    border: 1px solid #1264a3;
    color: #1264a3;
}

header div.buttons button.first-steps {
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: 700;

    border-radius: .5rem;
    
    background: #611f69;
    color: #fff;
    cursor: pointer;
    border: 1px solid lightgray;
    margin-right: .2rem;
}

section.content {
    width: 100%;
    height: 60rem;

    background: white;
}

.container-content {
    width: clamp(75%, 80%, 90%);
    height: 100%;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-content {
    width: 50%;
    height: 100%;

    padding: 4rem 0;
}

.text-content p {
    font-size: 1.4rem;

    padding-bottom: 3rem;
}

.text-content h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;

    padding-bottom: 2rem;
}

.text-content h3 {
    font-size: 1.7rem;
    font-weight: normal;
    text-align: justify;

    max-width: 40rem;
}

.text-content button {
    display: block;

    width: 37rem;
    height: 5.5rem;

    border-radius: .5rem;
    border: 1px solid #ebeaeb;
}

.text-content button.btn-1 {
    margin: 2rem 0 1rem 0;

    color: #fff;
    font-weight: 800;
    background: #611f69;

    cursor: pointer;
}

.text-content button.btn-2 {
    color: #611f69;
    font-weight: 800;
    background: none;
    border: 1px solid #611f69;

    cursor: pointer;
}   