* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html, body {
    height: 100%;
    background: #ebeaeb;
}

:root {
    font-size: 62.5%;
}

#container-header {
    width: clamp(75%, 80%, 90%);

    margin: 0 auto;

    background: #ebeaeb;
}

div.border-bottom-header {
    width: 100%;
    border-bottom: 1px solid lightgray;
}

header {
    width: 100%;
    height: 7rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > img {
    display: none;

    cursor: pointer;
}

header nav {
    display: flex;
    align-items: center;
}

.logo {
    width: 12rem;

    display: flex;
    align-items: center;
}

.logo strong {
    font-size: 1.6rem;
    padding-left: .5rem;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li, header nav ul li a {
    font-size: 1.6rem;
    padding-left: 2rem;
    list-style-type: none;
    color: black;
    font-weight: 500;
    text-decoration: none;

    transition: .1s;
}

header nav ul li a:hover {
    color: #1264a3;
    font-size: 1.7rem;
}

header div.buttons button.entry {
    background: none;
    padding: 1rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 700;
    border: none;
    cursor: pointer;

    transition: .4s;
}

header div.buttons button.entry:hover {
    border: 1px solid #1264a3;
    color: #1264a3;
}

header div.buttons button.first-steps {
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: 700;

    border-radius: .5rem;
    
    background: #611f69;
    color: #fff;
    cursor: pointer;
    border: 1px solid lightgray;
    margin-right: .2rem;
}

section.content {
    width: 100%;

    background: white;
}

.container-content {
    width: clamp(75%, 80%, 90%);
    height: 100%;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 7rem;
}

.text-content {
    width: 50%;
    height: 100%;

    padding: 4rem 0;
}

.text-content p {
    font-size: 1.4rem;

    padding-bottom: 3rem;
}

.text-content h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;

    padding-bottom: 2rem;
}

.text-content h3 {
    font-size: 1.7rem;
    font-weight: normal;
    text-align: justify;

    max-width: 40rem;
}

.text-content button {
    display: block;

    width: 37rem;
    height: 5.5rem;

    border-radius: .5rem;
    border: 1px solid #ebeaeb;
}

.text-content button.btn-1 {
    margin: 2rem 0 1rem 0;

    color: #fff;
    font-weight: 800;
    background: #611f69;

    cursor: pointer;
}

.text-content button.btn-2 {
    color: #611f69;
    font-weight: 800;
    background: none;
    border: 1px solid #611f69;

    cursor: pointer;
}   

.box-content {
    width: 100%;
    height: 55rem;

    background: #f4ede4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-content > h1 {
    font-size: 4.5rem;
    font-weight: 800;
    padding-bottom: 1rem;
}

.box-content > p {
    font-size: 1.9rem;
}

.box-content > span {
    padding-top: 5rem;
    font-size: 1.6rem;
    color: #696969;
}

.box-content .box-grid-content {
    width: 80%;

    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 29rem;
}

.box-content .box-grid-content h1 {
    font-size: 8rem;
}

.box-content .box-grid-content p {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 700;
}


/***/

.wraper-content {
    width: 100%;

    background: #fff;
}

.container-wraper {
    width: 80%;
    padding-bottom: 4rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.container-wraper > img {
    padding: 8rem 5rem 9rem 0;
}

.container-wraper main {
    width: 50%;
}

.container-wraper main h1 {
    font-size: 5rem;

    padding-top: 8rem;
}

.list-description {
    width: 100%;
}

.description-1, .description-2, .description-3 {
    max-width: 50rem;
    margin-bottom: 2rem;

    position: relative;
}

.description-1 p, .description-2 p, .description-3 p {
    font-size: 1.8rem;
    padding: 1rem 0 1rem 3rem;
}

.description-1 img, .description-2 img, .description-3 img {
    position: absolute;
    top: 1.3rem;
    left: .4rem;
}